.collection {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #9102d4;
        filter: blur(300px);
    }
    &__container {
        @media (max-width: 1680px) {
            margin: 0 rem(10);
        }
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(@img/collection/bg.png),
            radial-gradient(50% 50% at 50% 50%, #232121 0%, rgba(19, 19, 19, 0) 100%);
        box-sizing: border-box;
        backdrop-filter: blur(30px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: rem(30); /*1*/
        border: rem(2) solid;
        animation: anim-border 5s ease infinite;
        padding: rem(50) rem(84);

        min-height: rem(617);
        display: flex;
        flex-direction: column;
        @media (max-width: $tablet) {
            background-size: cover;
            background-position: center;
            padding: rem(20);
            min-height: fit-content;
        }
        &::after {
            content: "";
            background: url(@img/collection/01.png) right 100% no-repeat;
            width: 100%;
            height: rem(721);
            display: block;
            position: absolute;
            right: 0;
            top: rem(-109);
            z-index: -1;
            transition: transform 0.8s ease 0s, opacity 1s ease 0s;
            transform: translateX(100%);
            opacity: 0;

            ._show & {
                opacity: 1;
                transform: translateX(0);
            }
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    &_red-btn {
    }
    &__text-box {
        max-width: rem(734);
        @include adaptiveValue("margin-bottom", 130, 45);
    }
    &__title {
        margin-bottom: rem(37);
    }

    &__text {
        letter-spacing: normal;
        font-weight: 450;

        text-indent: rem(10);

        p {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__info {
        display: flex;
        @include adaptiveValue("gap", 50, 41.5);
        margin-top: auto;
        margin-bottom: rem(40);
    }

    &__info-item {
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__info-title {
        font-weight: bold;
        @include adaptiveValue("font-size", 50, 16);
        line-height: 100%;
        margin-bottom: rem(10);
    }

    &__info-text {
        font-weight: normal;
        line-height: math.div(20, 16);
        @include adaptiveValue("font-size", 16, 14);
    }

    &__button {
        background: #d40234;

        @media (max-width: $tablet) {
            margin-top: rem(17);
        }
    }
}

//========================================================================================================================================================
@keyframes anim-border {
    0% {
        border-color: #ca003b;
    }
    50% {
        border-color: #02a3fd;
    }
    100% {
        border-color: #ca003b;
    }
}
//========================================================================================================================================================
