.page {
    &__collection {
    }
}
.collection {
    &__title {
        /* margin-bottom: rem(-88); */
    }
    &__mobile-img {
        display: contents;
        @media (max-width: $tablet) {
            display: block;
            position: relative;
            .collection__item-img {
                top: 0;
                left: 0;
            }
        }
    }
    &__container {
        display: flex;
        gap: rem(37);
        @media (max-width: $tablet) {
            gap: 0;
            flex-direction: column;
            padding: 0;
        }
    }

    &__item {
        position: relative;
        flex: 1 1 auto;

        max-width: rem(1100);
        padding: rem(20) rem(40);
        background-color: rgba(145, 2, 212, 0.1);
        border: 1px solid #9102d4;
        text-align: center;
        @media (max-width: $tablet) {
            text-align: left;
            padding: rem(17) rem(10);
            margin-bottom: rem(50);
        }
    }

    &__item-title {
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 20);
        line-height: math.div(50, 30);
        text-transform: uppercase;
        margin-bottom: rem(20);
    }

    &__item-text {
        font-weight: 400;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(21, 16);
        letter-spacing: 0.02em;
        color: #e8e8ff;
    }

    &__item-img {
        position: relative;
        padding-bottom: 90%;
        @media (max-width: $tablet) {
            padding-bottom: 100%;
        }
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url(@img/collection/air.svg) center/contain no-repeat;
            animation: scalable 15s linear infinite;
            z-index: -1;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(15);
    }

    &__item-angles {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        span {
            position: absolute;
            display: block;
            width: rem(10);
            height: rem(10);
            background-color: #9102d4;
            border-radius: 50%;
        }
        span:first-child {
            top: calc(rem(0) - rem(5));
            left: calc(rem(0) - rem(5));
        }
        span:nth-child(2) {
            top: calc(rem(0) - rem(5));
            right: calc(rem(0) - rem(5));
        }
        span:nth-child(3) {
            bottom: calc(rem(0) - rem(5));
            left: calc(rem(0) - rem(5));
        }
        span:last-child {
            bottom: calc(rem(0) - rem(5));
            right: calc(rem(0) - rem(5));
        }
    }
    &__item-tv {
        img:first-child {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            z-index: 2;
            pointer-events: none;
            transform: translateZ(20px);
        }
        img:nth-child(2) {
            position: absolute;
            width: percent(190, 1018);
            height: auto;
            left: 41%;
            top: 23.5%;
            @media (max-width: $tablet) {
                top: 25%;
            }
            z-index: 1;
        }
        img:nth-child(3) {
            position: absolute;
            width: percent(200, 1018);
            height: auto;
            left: 25.5%;
            top: 45%;
            z-index: 1;
            border-radius: 10px;
        }
        img:nth-child(4) {
            position: absolute;
            width: percent(200, 1018);
            height: auto;
            left: 53.5%;
            top: 45%;
            z-index: 1;
            border-radius: 10px;
        }
        img:nth-child(5) {
            position: absolute;
            width: percent(180, 1018);
            height: auto;
            left: 8.5%;
            top: 67%;
            @media (max-width: $tablet) {
                top: 65.5%;
                left: 8.5%;
            }
            z-index: 1;
            border-radius: 10px;
            transform: rotateX(5deg) rotateY(46deg);
        }
        img:nth-child(6) {
            position: absolute;
            width: percent(200, 1018);
            height: auto;
            left: 42%;
            top: 63%;
            z-index: 1;
            border-radius: 10px;
            transform: rotateX(7deg) rotateY(-30deg);
        }
        img:nth-child(7) {
            position: absolute;
            width: percent(180, 1018);
            height: auto;
            left: 72%;
            top: 66%;
            z-index: 1;
            border-radius: 10px;
            transform: rotateX(10deg) rotateY(-40deg);
        }
    }
}

.menu-collection {
    &__collection {
    }

    &__item {
        &._color {
            color: #9102d4;
        }
    }

    &__content {
        @media (max-width: $tablet) {
            padding: 0 rem(15) !important;
        }
    }

    &__title {
        @include adaptiveValue("font-size", 30, 20);
        line-height: math.div(50, 30);
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: inline-block;
            @include adaptiveValue("width", 110, 64);
            @include adaptiveValue("height", 110, 64);

            background: url(@img/collection/title.png) center/cover no-repeat;
            animation: rotating 5s linear infinite;
            margin-left: rem(-20);
        }
    }

    &__text {
        font-weight: 400;
        font-size: rem(16);
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(21, 16);
        letter-spacing: 0.02em;
        color: #e8e8ff;
        margin-bottom: rem(105);
    }

    &__btn {
        text-align: center;
        padding: rem(17) 0;
    }
    &__footer {
        @media (max-width: $tablet) {
            & ._left {
                display: none;
            }
        }
    }
}
.collection-btn {
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 40, 20);
        line-height: math.div(50, 40);
        text-transform: uppercase;
        color: #ae02ff;
        margin-bottom: rem(10);
    }

    &__text {
        font-family: "Montserrat";
        font-weight: 400;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(20, 16);
        color: #ffffff;
    }
}
.menu-header {
    &__footer {
    }

    &__item {
    }
}

@keyframes scalable {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
