.side-menu {
    flex: 0 0 percent(600, 1752);
    @media (max-width: $tablet) {
        flex: 1 1 auto;
    }
    background-color: #111111;

    &.header__menu {
        @media (max-width: $tablet) {
            background: none;
            ._menu-header-box {
                display: none;
            }
        }
    }

    ._menu-header-box {
        width: 100%;
        display: flex;
        min-height: rem(80);
    }
    [class*="__header"] {
        border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    }
    [class*="__item"] {
        padding: 0 rem(55);
        @media (max-width: $tablet) {
            padding: 0 rem(30);
        }
        &._icon-mystic {
            flex: 1 1 auto;
            background: url(@img/mystic.gif) center/contain no-repeat;
            @include adaptiveValue("margin-left", 50, 10);
            @include adaptiveValue("margin-right", 50, 10);
            &.margin {
                @include adaptiveValue("margin-left", 30, 50);
                @include adaptiveValue("margin-right", 30, 50);
            }
        }
        &._right {
            border-right: 1px solid rgb(255, 255, 255, 0.3);
        }
        &._left {
            border-left: 1px solid rgb(255, 255, 255, 0.3);
        }
        font-weight: 400;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(50, 16);
        text-transform: uppercase;
        min-height: max-content;
        display: flex;
        align-items: center;
    }

    [class*="__content"] {
        @include adaptiveValue("padding-top", 40, 0);
        @include adaptiveValue("padding-bottom", 40, 0);
        @include adaptiveValue("padding-left", 50, 0);
        @include adaptiveValue("padding-right", 50, 0);
        font-weight: 700;
        text-transform: uppercase;
    }

    [class*="__btn"] {
        width: 100%;
        @include adaptiveValue("padding-top", 12, 6);
        @include adaptiveValue("padding-bottom", 12, 6);
        @include adaptiveValue("padding-left", 20, 10);
        @include adaptiveValue("padding-right", 20, 10);
        background: linear-gradient(270deg, #2e1341 0%, rgba(46, 19, 65, 0) 100%);
        border: 1px solid #ae02ff;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    [class*="__footer"] {
        border-top: 1px solid rgb(255, 255, 255, 0.3);
    }
}
.section-title {
    font-weight: 700;
    @include adaptiveValue("font-size", 200, 35);
    line-height: math.div(257, 200);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.4px rgba(255, 255, 255, 0.2);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(10);
}
.arrow-anim-box {
    display: flex;
    gap: rem(10);
    span {
        display: block;
        width: rem(13);
        height: rem(13);
        background: url(@img/header/pixel_arrow.svg) center/contain no-repeat;
        &:not(:first-child) {
            opacity: 0;
            animation: header-menu-anim 3s ease infinite;
            &:nth-child(1) {
                animation-delay: 0.3s;
            }
            &:nth-child(2) {
                animation-delay: 0.8s;
            }
            &:nth-child(3) {
                animation-delay: 1.3s;
            }
            &:nth-child(4) {
                animation-delay: 1.8s;
            }
        }
    }
}
.lines-anim-wrapper {
    height: 100%;
    width: 100%;
    padding: rem(25) rem(0);
    display: flex;
    gap: rem(10);
    .lines-anim-box {
        height: 100%;
        display: flex;
        gap: rem(6);
        span {
            display: block;
            flex: 0 0 rem(2);
            height: 100%;
            background-color: #585858;
        }
        &:not(:first-child) {
            opacity: 0;
            animation: header-menu-anim 3s ease infinite;
            &:nth-child(2) {
                animation-delay: 0.3s;
            }
            &:nth-child(3) {
                animation-delay: 0.8s;
            }
            &:nth-child(4) {
                animation-delay: 1.3s;
            }
        }
    }
}
.social-mobile {
    @media (max-width: $tablet) {
        padding: rem(10) rem(15);
        background-color: #111111;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        .menu-social__link {
            padding: rem(14) rem(12);
            color: #ae00ff;
            background-color: rgba(145, 2, 212, 0.4);
            border: 1px solid #ae00ff;

            overflow: hidden;
            position: relative;
            z-index: 1;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: -80%;
                left: -67%;
                border: 2px solid #ae00ff;
                transform: rotate(46deg);
                z-index: 2;
            }
        }
    }
}
