// Заголовки, общие БЄМ блоки и проче...
.button {
    width: 100%;
    border-radius: rem(12);
    display: block;
    font-size: rem(14);
    line-height: math.div(18, 14);
    min-height: rem(40);
    text-align: center;
    letter-spacing: 0.016em;
}
.title {
    font-weight: bold;
    line-height: math.div(50, 30);
    @include adaptiveValue("font-size", 30, 18);
    text-transform: uppercase;
}
.text {
    font-style: normal;
    font-weight: 300;
    line-height: math.div(20, 18);
    @include adaptiveValue("font-size", 16, 12);
    padding: 0 rem(10);
    text-align: justify;
    letter-spacing: 0.02em;

    color: #ffffff;
}
._decor-title {
    text-align: center;
    &::before {
        content: "";
        background: url(@img/main-slider/title-top.svg) center 100% no-repeat;
        width: 100%;
        height: rem(7);
        display: block;
    }
    &::after {
        content: "";
        background: url(@img/main-slider/title-bottom.svg) center 100% no-repeat;
        width: 100%;
        height: rem(7);
        display: block;
    }
}
