.footer {
    position: relative;

    & > span {
        display: block;
        position: absolute;
        width: 20%;
        height: 100%;
        z-index: 0;
        opacity: 0.56;
        filter: blur(200px);
        &:first-child {
            background-color: #2a6895;

            top: -10%;
            left: 0;
        }
        &:last-child {
            background-color: #862a95;
            top: -75%;
            right: 0;
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 100%;
        top: 0;
        left: 0%;

        background: url(@img/footer/bg.png) center/cover no-repeat;
        z-index: -1;

        opacity: 0.3;
    }
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__back {
        display: flex;
        align-items: center;
        gap: rem(16);
        font-weight: 400;
        font-size: rem(16);
        line-height: math.div(50, 16);

        text-transform: uppercase;

        color: #9c9c9c;
        &::before {
            transform-origin: center center;
            transform: translateY(rem(2)) rotate(90deg);
        }
    }

    &__menu {
    }

    &__text-block {
    }

    &__form-actions {
        font-weight: 450;
        font-size: rem(16);
        line-height: math.div(21, 16);
        letter-spacing: 0.016em;

        input {
            display: block;
            width: 100%;
            background-color: rgba(44, 44, 44, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;
            color: #fdfdfd;
            padding: rem(20) 0;
            margin-bottom: rem(34);
        }
    }

    &__button {
        width: 100%;
        text-align: center;
        padding: rem(20) 0;
        background-color: #9102d4;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}
.menu-footer {
    &__header {
    }
    &__anim-box {
        width: 100%;
        margin-bottom: rem(40);
        .arrow-anim-box {
            justify-content: flex-end;
        }
    }
    &__item {
    }

    &__content {
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 40, 20);
        line-height: math.div(50, 40);
        text-transform: uppercase;
        color: #ffffff;

        margin-bottom: rem(36);
    }

    &__text {
        font-weight: 300;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(21, 16);
        letter-spacing: 0.02em;

        color: #9c9c9c;

        margin-bottom: rem(106);
    }

    &__footer {
    }
}
