.page {
    &__gallery {
        @include adaptiveValue("margin-bottom", 141, 37);
        position: relative;
    }
}
.gallery {
    &__container {
        overflow: hidden;
        padding: 0 rem(15);
        box-sizing: border-box;
        @media (max-width: $mobile) {
            padding: 0;
        }
    }
    &__title {
        margin-bottom: rem(-70);
    }
    &__slider {
        position: relative;
        z-index: 1;

        padding: rem(10);
        border: 1px solid #ffffff;
        overflow: hidden;
    }

    &__wrapper {
    }

    &__slide {
        display: flex;
        padding: 0 rem(10);
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding-bottom: percent(800, 1680);

        @media only screen and (orientation: portrait) {
        }
        img {
            position: absolute;
            top: 0;
            left: 10px;

            object-position: center;
            animation: anim-border-gallery 5s ease infinite;

            max-width: 100%;
            width: calc(100% - 20px);
            height: 100%;
            border: 2px solid #ffffff;
        }
    }
}
