.header {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url(@img/header/bg.png) center/cover no-repeat;
		z-index: -1;
		opacity: 0.3;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 10%;
		bottom: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(145, 2, 212, 0) 0%, #9102d4 100%);
		z-index: 0;
		opacity: 0.15;
	}
	&__bg-slider {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		.swiper-header {
			min-width: 0;
		}
		.swiper-wrapper {
		}
		.swiper-slide {
		}
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
	}

	&__slide-ibg {
		height: 220px;
		width: 220px;
		img {
			max-width: 100%;
			border-radius: 5px;
		}
	}

	&__container {
		position: relative;
		z-index: 2;
		display: flex;
	}

	&__menu {
	}

	&__barmen {
		pointer-events: none;
		flex: 1 1 auto;
		min-height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		img {
		}
	}
}

.menu-header {
	&__subtitle {
		font-size: rem(18);
		line-height: math.div(50, 18);
		color: #b9fd02;
		margin-bottom: rem(20);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__item {
		color: #9c9c9c;
	}
	&__title {
		font-size: rem(40);
		line-height: math.div(50, 40);
		color: #ffffff;
		margin-bottom: rem(36);
	}

	&__text {
		font-weight: 300;
		font-size: rem(16);
		line-height: math.div(21, 16);
		letter-spacing: 0.02em;
		color: #9c9c9c;
		margin-bottom: rem(93);
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: rem(18);
		line-height: math.div(50, 18);
		color: #ae02ff;
		&::after {
			@extend %ic;
			content: "\e900";
			font-size: rem(35);
		}
	}
	&__social {
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-size: rem(40);
	}

	&__footer {
	}
}
.menu-social {
	&__link {
		color: #979797;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #ae01ff;
			}
		}
	}
}
.menu-item {
}

@keyframes header-menu-anim {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
