//====================================================================================================
.header {
	@media (max-width: 376px) {
		margin: 0 10px;
	}
	&__container {
		@media (max-width: $tablet) {
			display: block;
		}
		display: flex;
		justify-content: space-between;
		min-height: rem(710);
		@include adaptiveValue("min-height", 710, 380);
		gap: rem(20);
		position: relative;
		clip-path: url(#header);
		transform: translateY(-20px);

		@media (max-width: $tablet) {
			clip-path: url(#header-mobile);
		}

		background-color: #131111;
		z-index: 3;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: rotate(9.62deg);
			background: url(@img/Topology.svg) left/contain no-repeat;
			@media (max-width: $tablet) {
				display: none;
			}
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			width: percent(1110, 1680);
			height: 100%;
			top: 0;
			right: 0;
			z-index: 0;
			background: url(@img/kanion.png) right / contain no-repeat;
			mix-blend-mode: screen;

			@media (max-width: $tablet) {
				display: none;
			}
		}
	}

	&__image-ibg {
		padding-bottom: rem(710);
		width: 100%;
		position: absolute;
		z-index: 0;
		top: 0;
		img {
			object-fit: cover;
		}
	}

	&__main {
		@include adaptiveValue("max-width", 420, 320, 1920, 990);

		@include adaptiveValue("margin-top", 100, 20, 1920, 990);
		width: 100%;
		@include adaptiveValue("margin-left", 80, 10, 1920, 990);
		@media (max-width: $tablet) {
			width: 100%;
			max-width: rem(294);
			margin: 0 auto;
			overflow: hidden;
		}
	}

	&__text-block {
		max-width: rem(420);
		position: relative;
		margin-top: rem(50);

		@include adaptiveValue("margin-top", 90, 20, 1920, 990);
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -50%;
			left: rem(20);
			width: rem(250);
			height: rem(100);
			background: url(@img/NFT.svg) 100% 100% no-repeat;
		}
	}

	&__title {
		margin-bottom: rem(15);
		font-weight: bold;
		line-height: math.div(50, 40);

		@include adaptiveValue("font-size", 40, 25);
	}

	&__text {
		margin-bottom: rem(30);
	}

	&__button {
		width: 100%;
		@include adaptiveValue("font-size", 15, 14);
		line-height: math.div(19, 15);
		letter-spacing: 0.016em;
		padding: rem(17) rem(19);
		color: #ffffff;
		background: #9102d5;
		box-shadow: 0px 3.74372px 22.4623px rgba(145, 2, 212, 0.2);
		border-radius: 12px;
		display: flex;
		align-items: center;

		justify-content: space-between;

		&::after {
			@extend %ic;
			content: "\e900";
			font-size: rem(24);
		}
	}

	&__social-media {
	}

	&__social-item {
	}

	&__mobile-img {
		&::after {
			content: "";
			position: absolute;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 0;

			@media (max-width: $tablet) {
				background: url(@img/kanion.png) 0% / contain no-repeat;

				animation: tablet-header 25s linear infinite;
			}
			@media (max-width: $mobile) {
				background: url(@img/kanion.png) 0% / cover no-repeat;
				animation: mobile-header 25s linear infinite;
			}
			mix-blend-mode: screen;

			@media (max-width: $tablet) {
				display: block;
			}
		}
		@media (max-width: $tablet) {
			clip-path: url(#header-mobile);
			position: relative;
			padding-bottom: rem(400);
			margin-top: -40%;
		}
	}
}
@keyframes mobile-header {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}
@keyframes tablet-header {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 120%;
	}
	100% {
		background-position: 0%;
	}
}
//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
