//====================================================================================================
.header {
	@media (max-width: 376px) {
		margin: 0 10px;
	}
	&__container {
		@media (max-width: $mobile) {
			display: block;
		}
		display: flex;
		align-items: center;
		@include adaptiveValue("height", 720, 300, 1680, 720);
		width: percent(1900, 1920);
		@media (max-width: $mobile) {
			min-height: rem(370);
		}
		position: relative;

		@media (min-width: $mobile) {
			#header-bgm {
				display: none;
			}
		}

		@media (max-width: $mobile) {
			#header-border {
				display: none;
			}
			min-height: rem(696);
			@include adaptiveValue("min-height", 696, 560, 390, 320);
		}

		z-index: 3;

		#header-bg {
			@media (max-width: $mobile) {
				display: none;
			}
		}
	}
	&__main {
		@include adaptiveValue("max-width", 420, 320);
		flex: 0 0 percent(421, 1680);

		@media (max-width: $mobile) {
			width: 100%;
			max-width: rem(294);
			margin: 0 auto;
			overflow: hidden;
		}
		position: relative;
	}

	&__text-block {
		max-width: rem(420);
		position: relative;
		z-index: 5;
		margin-top: -20%;
		@media (max-width: $mobile) {
			text-align: center;
			margin-top: calc(50% - rem(50));
		}
		.menu-open & {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__subtitle {
		font-weight: bold;
		font-size: rem(40);
		line-height: math.div(50, 40);
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #fff;

		margin-bottom: rem(30);
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__title {
		font-weight: bold;
		span:last-child {
			display: inline-block;
		}
		span:not(:last-child) {
			display: none;
		}
		margin-bottom: rem(6);
		@media (min-width: $mobile) {
			@include adaptiveValue("font-size", 40, 0);
			line-height: math.div(50, 40);
			span:not(:last-child) {
				display: inline-block;
			}
			span:last-child {
				display: none;
			}
		}

		font-size: rem(25);
		line-height: math.div(32, 25);

		&::after {
			content: "";
			display: inline-block;
			margin-bottom: rem(-10);
			width: rem(61);
			height: rem(52);
			background: url(@img/fingers.png) center/contain no-repeat;

			@media (max-width: $mobile) {
				background: url(@img/fingersm.png) center/contain no-repeat;
				position: absolute;
				top: -50%;
				left: 0;
				z-index: -1;
				width: rem(282);
				height: rem(242);
			}
		}
	}

	&__text {
		@include adaptiveValue("margin-bottom", 30, 15, 1920, 720);
		padding: 0;
	}

	&__button {
		width: 100%;
		@include adaptiveValue("font-size", 15, 14);
		line-height: math.div(19, 15);
		letter-spacing: 0.016em;
		padding: rem(11) rem(19);
		color: #ffffff;
		background-color: #9102d5;
		box-shadow: 0px 3.74372px 22.4623px rgba(145, 2, 212, 0.2);
		border-radius: 12px;
		display: flex;
		align-items: center;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		justify-content: space-between;
		position: relative;
		z-index: 6;
		animation: header-btn-anim 5s linear infinite;
		&::after {
			@extend %ic;
			content: "\e900";
			font-size: rem(24);
		}
		@media (max-width: $mobile) {
			margin-top: rem(23);
		}
	}

	&__social-media {
		display: flex;
		margin-top: -5%;
		@media (min-width: $mobile) {
			flex-direction: column;
			@include adaptiveValue("margin-left", 27, 0);
			@include adaptiveValue("margin-right", 54, 0);
			height: percent(365, 720);
		}

		@media (max-width: $mobile) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0 rem(50);
			height: 50%;
			align-items: center;
			font-size: rem(30);
			opacity: 0;
			visibility: collapse;

			transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;

			.menu-open & {
				opacity: 1;
				visibility: visible;
			}
		}
		justify-content: space-between;
		font-size: rem(40);

		color: #323131;
		@media (max-width: $mobile) {
			color: #fff;
		}
		position: relative;
		z-index: 6;
	}

	&__social-item {
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: rgba(174, 0, 255, 0.4);
			}
		}
	}

	&__mobile-img {
		&::after {
			content: "";
			position: absolute;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 0;

			@media (max-width: $mobile) {
				background: url(@img/kanion.png) 0% / contain no-repeat;

				animation: tablet-header 25s linear infinite;
			}
			@media (max-width: $mobile) {
				background: url(@img/kanion.png) 0% / cover no-repeat;
				animation: mobile-header 25s linear infinite;
			}
			mix-blend-mode: screen;

			@media (max-width: $mobile) {
				display: block;
			}
		}
		@media (max-width: $mobile) {
			clip-path: url(#header-mobile);
			position: relative;
			padding-bottom: rem(400);
			margin-top: -40%;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		right: rem(10);
		top: rem(30);
		position: absolute;
		width: rem(14);
		height: rem(10);
		cursor: pointer;
		z-index: 7;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: percent(8, 14);
			border-radius: 1px;
			height: rem(2);
			background-color: #9102d4;
			animation: header-btn-anim 5s linear infinite;
		}
		span {
			width: 100%;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
			left: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
				width: 100%;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
