.main-header {
    width: 100%;
    max-width: rem(1740);
    padding: 0 rem(15);
    margin: rem(25) auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__loading {
        flex: 0 0 percent(63, 1740);
        background: url(@img/nohoomans/load.png) center/contain no-repeat;

        @media (max-width: $tablet) {
            flex: 0 0 10%;
        }
    }

    &__item {
        @media (min-width: $tablet) {
            position: absolute;
            width: percent(500, 1740);
            left: calc(50% - percent(500, 1740) / 2);
        }

        height: 100%;
        background: url(@img/mystic.gif) center/contain no-repeat;
    }

    &__social {
        flex: 0 0 percent(373, 1740);
        @include adaptiveValue("gap", 20, 10);
        display: flex;
        justify-content: space-between;

        .menu-social__link {
            padding: rem(14) rem(12);
            border: 1.7px solid #666666;
            padding: rem(10);
            overflow: hidden;
            position: relative;
            z-index: 1;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
            font-size: 20px;
            transition: background-color 1s ease-out 0s;
            @media (any-hover: hover) {
                &:hover {
                    transition: 0s;
                    background-color: #666666;
                    color: #111111;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: -77%;
                left: -77%;
                background-color: #666666;
                transform: rotate(-44deg);
                z-index: 2;
            }
        }
    }
}
.page-second {
    width: 100%;
    height: 100%;
    max-width: rem(1710);
    padding: 0 rem(15);
    background: url(@img/nohoomans/bg.png) center/cover no-repeat;
    margin: 0 auto;
    position: relative;

    &__dots {
        position: absolute;
        &:first-child {
            left: rem(25);
            top: rem(25);
            @media (max-width: $tablet) {
                left: rem(10);
                top: rem(10);
            }
            span {
                animation-direction: alternate-reverse;
            }
        }
        &:last-child {
            right: rem(25);
            top: rem(25);
            @media (max-width: $tablet) {
                right: rem(10);
                top: rem(10);
            }
            span {
                animation-direction: alternate;
            }
        }
        width: 100%;
        max-width: rem(16);
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: rem(3);
        column-gap: rem(3);
        span {
            width: rem(8);
            height: rem(8);
            background-color: #fff;
            border-radius: 50%;
            animation: header-menu-anim 2s linear infinite;

            &:first-child {
                animation-delay: 0.3s;
            }
            &:nth-child(2) {
                animation-delay: 0.6s;
            }
            &:nth-child(3) {
                animation-delay: 0.9s;
            }
            &:nth-child(4) {
                animation-delay: 1.2s;
            }
            &:nth-child(5) {
                animation-delay: 1.5s;
            }
            &:last-child {
                animation-delay: 1.8s;
            }
        }
    }

    &__side {
        @media (min-width: $tablet) {
            position: absolute;
        }
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        transition: height 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
                height: 90%;
                @media (max-width: $pc) {
                    height: 40%;
                }
            }
        }
        @media (max-width: $pc) {
            height: 60%;
        }
        height: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        top: -20%;
        left: -20%;
        background: radial-gradient(50% 50% at 50% 50%, #454346 0%, rgba(64, 8, 90, 0) 100%);
        z-index: -1;
    }
}
.side {
    &_left {
        left: 0;
        top: 0;
        width: 50%;
        @media (max-width: $tablet) {
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &_right {
        right: 0;
        top: 0;
        width: 50%;
        justify-content: flex-end;
        @media (max-width: $tablet) {
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: flex-start;
            top: auto;
            bottom: 0;
        }
        .side__title {
            text-align: right;
        }
    }
    &__text-box {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        height: 60%;
        justify-content: space-between;
        padding: rem(40);
        @include adaptiveValue("padding", 40, 10);
    }

    &__title {
        font-weight: 450;
        font-size: rem(60);
        @include adaptiveValue("font-size", 60, 25);
        @include adaptiveValue("margin-bottom", 0, 5);
        line-height: math.div(70, 60);
        span {
            color: #9102d4;
        }
    }

    &__text {
        font-family: "Montserrat";
        font-weight: 300;
        font-size: rem(18);
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(22, 18);
    }

    &__link {
        font-weight: 600;
        font-size: rem(14);
        line-height: math.div(50, 14);
        @include adaptiveValue("font-size", 14, 12);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            display: block;
            flex: 1 1 auto;
            height: 100%;
            margin-left: rem(10);
            background: url(@img/nohoomans/arrow.svg) center/contain no-repeat;
        }
    }
}
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(15);
    width: 100%;
    max-width: rem(1740);
    margin: rem(25) auto;
    &__name {
        flex: 1 1 auto;
        font-size: rem(14);
        line-height: math.div(50, 14);

        text-transform: uppercase;

        color: #666666;
    }
    .lines-anim-wrapper {
        flex: 0 0 percent(77, 1740);
        height: rem(40);
        padding: 0;
    }
}
