//========================================================================================================================================================
.main-slider {
    &__container {
        display: flex;
        @include adaptiveValue("gap", 100, 0);
        flex-direction: row;
        @media (max-width: $tablet) {
            display: block;
        }
        margin-top: rem(32);
    }
    &__img-ibg {
        flex: 1 1 auto;
        position: relative;
        @media (max-width: $tablet) {
            padding-bottom: rem(500);
            margin-bottom: rem(30);
            margin-top: rem(30);
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;

            z-index: 0;
            top: 0%;
            left: -5%;

            @media (min-width: $tablet) {
                animation: slider-ani-eifel 5s ease infinite;
                top: -5%;
                left: -15%;

                width: percent(622, 552);
            }
        }

        &::before {
            content: "";
            background: url(@img/main-slider/eifel-bgm.png) center/contain no-repeat;

            pointer-events: none;
            height: 100%;
            width: 100%;
            @media (min-width: $tablet) {
                max-width: rem(571);
                animation: slider-anim 5s ease infinite;
            }
            position: absolute;
            top: 0;
            left: 0;
            @media (max-width: $tablet) {
                margin: 0 auto;
                transform: scale(1);

                top: 0;
            }

            z-index: 0;
        }
    }

    &__slider-box {
        position: relative;
        flex: 0 0 rem(920);
        z-index: 4;
        min-width: 0;
        margin: 0 rem(10);
    }

    &__slider {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        max-height: rem(780);
        @media (max-width: $mobile) {
            max-height: rem(560);
        }
    }

    &__title {
        margin-bottom: rem(44);
    }

    &__text {
        @include adaptiveValue("margin-bottom", 72, 15);
        max-width: rem(900);
        margin: 0 auto;
        color: #e8e8ff;
        padding: 0 rem(10);
        z-index: 1;
        position: relative;
        p {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, rem(250));
        gap: rem(10);
        align-items: center;
        justify-content: center;
        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fit, rem(174));
            gap: rem(16);
        }
    }

    &__slide {
        position: relative;
        z-index: 4;
        border: 5px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        overflow: hidden;
        mix-blend-mode: inherit;
        &.transition {
            img {
                opacity: 0;
            }
        }
        img {
            transition: opacity 0.5s ease 0s;
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    //========================================================================================================================================================

    &__buttons {
        display: flex;
        position: absolute;
        width: 100%;

        bottom: calc(50% - rem(24));
        left: 0;
        justify-content: space-between;
        font-size: rem(24);
        z-index: 10;

        .swiper-button-prev {
            transform: rotate(90deg);
        }
        .swiper-button-next {
            transform: rotate(-90deg);
        }
    }
}
//========================================================================================================================================================

@keyframes slider-anim {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}
@keyframes slider-ani-eifel {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
//========================================================================================================================================================
