//========================================================================================================================================================
.main-slider {
    &__container {
        display: flex;
        flex-direction: row-reverse;
        @media (max-width: $tablet) {
            display: block;
        }
        margin-top: rem(62);
    }
    &__img-ibg {
        flex: 0 0 percent(580, 1680);
        position: relative;
        @media (max-width: $tablet) {
            padding-bottom: rem(500);
            margin-bottom: rem(30);
            margin-top: rem(30);
        }
        img {
            max-width: 100%;
            object-fit: contain;
            object-position: center;

            z-index: 0;
            left: -4%;
            animation: slider-anim 5s linear infinite;
        }

        &::before {
            content: "";
            background: url(@img/main-slider/eifel-bg.png) center/contain no-repeat;
            pointer-events: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @media (max-width: $tablet) {
                margin: 0 auto;
                transform: scale(1);
                background: url(@img/main-slider/eifel-bgm.png) center/contain no-repeat;

                top: 0;
            }

            z-index: -1;
        }
    }

    &__slider-box {
        position: relative;
        flex: 1 1 auto;
        z-index: 4;
        min-width: 0;
        margin: 0 rem(10);
    }

    &__slider {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        max-height: rem(610);
        @media (max-width: $mobile) {
            max-height: rem(560);
        }
    }

    &__title {
        margin-bottom: rem(44);
    }

    &__text {
        margin-bottom: rem(72);
        font-family: Montserrat;
        font-weight: 300;
        font-size: rem(18);
        line-height: math.div(20, 18);
        letter-spacing: 0.02em;
        color: #e8e8ff;
        max-width: rem(822);
        margin: 0 auto;
        text-align: center;
        @media (max-width: $tablet) {
            padding: 0 rem(10);
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, rem(300));
        gap: rem(20);
        align-items: center;
        justify-content: center;
        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fit, rem(174));
            gap: rem(16);
        }
    }

    &__slide {
        position: relative;
        z-index: 4;

        mix-blend-mode: inherit;
        &.transition {
            img {
                opacity: 0;
            }
        }
        img {
            transition: opacity 0.5s ease 0s;

            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border: 1px solid rgba(255, 255, 255, 0.4);
            object-position: center;
        }
        /*&::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border: 20px solid transparent;
            border-image: url(@img/main-slider/border.svg);
            border-image-slice: 20;
            z-index: 6;
        }*/
    }

    //========================================================================================================================================================

    &__buttons {
        display: flex;
        position: absolute;
        width: 100%;

        bottom: calc(50% - rem(24));
        left: 0;
        justify-content: space-between;
        font-size: rem(24);
        z-index: 10;

        .swiper-button-prev {
            transform: rotate(90deg);
        }
        .swiper-button-next {
            transform: rotate(-90deg);
        }
    }
}
//========================================================================================================================================================

@keyframes slider-anim {
    0% {
        transform: rotate(0) scale(1.19);
        top: 0%; //8.9deg
    }
    50% {
        transform: rotate(8.9deg) scale(0.93);
        top: -20%;
    }
    100% {
        transform: rotate(0) scale(1.19);
        top: 0%;
    }
}

//========================================================================================================================================================
