.page {
    &__spolers {
        position: relative;
        z-index: 1;
    }
}
.spolers {
    position: relative;

    &__title {
        font-weight: bold;

        @include adaptiveValue("font-size", 200, 30);
        line-height: math.div(257, 200);
        @media (max-width: $mobile) {
            color: #ffffff;
            opacity: 0.2;
            margin-top: rem(20);
            margin-bottom: rem(13);
        }
        @media (min-width: $mobile) {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px #fff;
        }

        text-align: center;
    }

    &__text {
        p {
            text-indent: rem(20);
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
        ol li {
            margin-left: rem(50);
            margin-bottom: rem(10);
        }
    }
    &__cards-img-mobile {
        .spolers__cards-ibg {
            display: none;
            width: 100%;
            height: rem(407);
            margin: 0 auto;
            max-width: none;
            position: relative;
            z-index: 0;
            @media (max-width: $tablet) {
                margin-top: rem(-57);
                margin-bottom: rem(-190);
            }
            @media (max-width: $mobile) {
                margin-top: rem(-100);
                margin-bottom: rem(-200);
            }
            img {
                max-width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__cards-ibg {
        display: none;
        flex: 0 0 rem(160);
        transition: flex 0.3s ease 0s;
        max-width: rem(388);
        img {
            object-fit: contain;
            object-position: left;
        }
        animation: cards-anim 3s linear infinite;
        .spoller-active & {
            flex: 1 1 rem(400);
        }

        @media (max-width: $tablet) {
            display: none;
        }
    }
    &__container {
        position: relative;
        @media (max-width: 1680px) {
            margin: 0 rem(10);
        }
        &::before {
            content: "";

            width: rem(2);
            height: calc(100% - rem(50));

            position: absolute;
            left: rem(7);
            top: rem(20);
            background-color: #9102d4;

            display: inline-block;
        }
        @media (max-width: $tablet) {
            margin: 0 rem(15);
        }
    }
}
.spollers {
    position: relative;
    z-index: 2;
    width: 100%;
    &__item {
        align-items: center;
        margin-bottom: rem(20);
    }

    &__title {
        line-height: math.div(1, 1);
        text-align: left;
        width: 100%;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #a80df1;
            }
        }

        display: flex;

        align-items: center;
        &::before {
            content: "";
            flex: 0 0 rem(16);
            height: rem(16);
            border-radius: 50%;
            margin-right: rem(14);
            @include adaptiveValue("margin-right", 41, 14, 1920, 390);
            background-color: #9102d4;

            display: inline-block;
        }

        &::after {
            @extend %ic;
            content: "\e907";
            @include adaptiveValue("font-size", 30, 21, 1920, 390);
            transition: transform 0.3s ease 0s, color 0.3s ease 0s;
            padding-right: rem(10);
            margin-left: rem(10);
            color: rgba(255, 255, 255, 0.3);
            @include adaptiveValue("margin-left", 20, 10, 1920, 390);
        }
        &._spoller-active::after {
            transform: rotate(180deg);
            color: #9102d4;
        }
        @media (any-hover: none) {
            &._spoller-active {
                color: #a80df1;
            }
        }
    }

    &__body {
        margin-left: rem(30);
        @include adaptiveValue("margin-left", 80, 30, 1920, 390);
        margin-top: rem(20);
        max-width: rem(674);
    }
}
@keyframes cards-anim {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}
