.page {
    &__team {
        margin-top: rem(13);
        @include adaptiveValue("margin-bottom", 182, 41);
        margin-bottom: rem(34);
        position: relative;
        & > span {
            display: block;
            position: absolute;
            width: 20%;
            height: 100%;
            z-index: 0;
            opacity: 0.3;
            &:first-child {
                background: url(@img/team/01.png) center/contain no-repeat;
                top: 0;
                left: -8%;
            }
            &:nth-of-type(2) {
                background: url(@img/team/02.png) top/contain no-repeat;
                top: 0;
                right: -8%;
            }
            &:last-child {
                background: url(@img/team/03.png) bottom/contain no-repeat;
                bottom: 0;
                right: -5%;
            }
        }
    }
}
.card-team {
    font-weight: 600;

    &__work-link {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #9102d4;
            }
        }
        &::after {
            @extend %ic;
            content: "\e908";
            font-size: rem(24);
            margin-left: rem(10);
        }
    }
    &__work {
        position: absolute;
        top: 40%;
        left: -2%;
        width: 100%;
        opacity: 0;
        text-align: center;
        font-size: rem(12);
        line-height: math.div(12, 10);
        text-transform: uppercase;
        color: #335ef8;
        transition: opacity 0.3s ease 0s;
        span {
            display: block;
            margin-bottom: rem(20);
        }
        .hover & {
            opacity: 1;
        }
    }

    &__name {
        font-size: rem(12);
        line-height: math.div(15, 12);
        text-transform: uppercase;
    }
    &__text {
        margin-left: rem(-30);
        min-height: rem(55);
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &__img-ibg {
        padding-bottom: rem(340);
        width: 100%;
        position: absolute;
        z-index: -2;
        img {
            max-width: 100%;
        }
    }
}

.team {
    &__container {
        max-width: rem(1142);
    }

    &__header {
        text-align: center;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(263), auto));
        justify-items: center;
        gap: rem(30);
        margin-top: rem(30);
        @media (max-width: $mobile) {
            grid-template-columns: rem(263);
            align-items: center;
            justify-content: center;
        }
    }

    &__card {
        position: relative;
        height: rem(340);
        display: flex;
        width: 100%;

        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;
        align-items: center;

        image {
            transition: opacity 0.3s ease 0s;
        }
        &.hover {
            cursor: pointer;
            image {
                opacity: 0;
            }
        }
    }
    &__title {
        @include adaptiveValue("margin-bottom", 20, 10);
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 18);
        line-height: math.div(50, 30);
        text-align: center;
        color: #ffffff;
        &._decor-title {
            &::before,
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 10px;
                max-width: rem(610);
                margin: 0 auto;
            }
            &::before {
                background: url(@img/team/title-top.svg) center/contain no-repeat;
            }
            &::after {
                background: url(@img/team/title-bottom.svg) center/contain no-repeat;
            }
        }
    }

    &__text-box {
        margin: 0 auto;
        max-width: rem(747);
        color: #b6bcd1;
        @include adaptiveValue("margin-bottom", 45, 10);

        p {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }
}
